# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# floobits
.floorc.json
.floo
.flooignore

# minecraft
options.txt
usercache.json
usernamecache.json
saves
crash-reports
config
run